<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ... -->
    <!--<add key="ProjectPath" value="E:\\Work\\VenetaGit\\NUnit.Tests\\"/>-->
    <add key="ProjectPath" value="D:\Veneta\Veneta\NUnit.Tests" />

    <add key="Url" value="http://acceptance.veneta.com/" />   
    <add key="LoginUrl" value="http://acceptance.veneta.com/advisor-login-2018/nl/page/152/" />
    <!-- ... -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>